<div class="row">
    <div class="large-12 columns">
        <h1>Welcome to Foundation</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h3>We&rsquo;re stoked you want to try Foundation! </h3>
            <p>To get going, this file (index.cshtml) includes some basic styles you can modify, play around with, or totally destroy to get going.</p>
            <p>Once you've exhausted the fun in this document, you should check out:</p>
            <div class="row">
                <div class="large-4 medium-4 columns">
                    <p><a href="http://foundation.zurb.com/docs">Foundation Documentation</a><br />Everything you need to know about using the framework.</p>
                </div>
                <div class="large-4 medium-4 columns">
                    <p><a href="http://github.com/zurb/foundation">Foundation on Github</a><br />Latest code, issue reports, feature requests and more.</p>
                </div>
                <div class="large-4 medium-4 columns">
                    <p><a href="http://twitter.com/foundationzurb">@@foundationzurb</a><br />Ping us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).</p>
                </div>
            </div>
            <div class="alert-box info alert">
                <span>ASP.Net NuGet package for MVC was created by <a href="http://about.me/edcharbeneau">Ed Charbeneau</a>.</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="fndtn-templates add-ons">

        <div class="row">

            <div class="large-4 medium-4 small-12 columns template-wrap">
                <a href="Home/banded">
                    <div class="template">
                        <div class="row">
                            <div class="large-3 medium-3 small-3 columns end">
                                <span class="display" style="width: 100%; height: 12px;"></span>
                            </div>
                            <div class="large-4 medium-4 small-4 columns end">
                                <span class="display" style="width: 100%; height: 12px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 65px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 medium-4 small-4 columns">
                                <span class="display" style="width: 100%; height: 50px;"></span>
                            </div>
                            <div class="large-8 medium-8 small-8 columns">
                                <span class="display" style="width: 100%; height: 50px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-8 medium-8 small-8 columns">
                                <span class="display" style="width: 100%; height: 50px;"></span>
                            </div>
                            <div class="large-4 medium-4 small-4 columns">
                                <span class="display" style="width: 100%; height: 50px;"></span>
                            </div>
                        </div>
                    </div>
                </a>
                <p class="get-code">
                    Banded
                </p>
                <span class="notes"><a target="_blank" href="https://www.notableapp.com/posts/f5c3a40dc27421a7ae447873c1bc4ca129aff9a1#annotate">More Info</a></span>
                <span class="html"><a href="#" data-reveal-id="bandedModal">HTML</a></span>
            </div>

            <div class="large-4 medium-4 small-12 columns columns template-wrap">
                <a href="Home/blog">
                    <div class="template">
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 20px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-9 medium-9 small-9 columns">
                                <span class="display" style="width: 100%; height: 150px;"></span>
                            </div>
                            <div class="large-3 medium-3 small-3 columns">
                                <span class="display" style="width: 100%; height: 150px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 15px;"></span>
                            </div>
                        </div>
                    </div>
                </a>
                <p class="get-code">
                    Blog
                </p>
                <span class="notes"><a target="_blank" href="https://www.notableapp.com/posts/7b64bc1ee1177ae881368d74a5a2c39ef0e8871d#annotate">More Info</a></span>
                <span class="html"><a href="#" data-reveal-id="blogModal">HTML</a></span>
            </div>

            <div class="large-4 medium-4 small-12 columns template-wrap">
                <a href="Home/feed">
                    <span class="label">Medium Grid</span>
                    <div class="template">
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 20px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-2 medium-2 small-2 columns">
                                <span class="display" style="width: 100%; height: 120px;"></span>
                            </div>
                            <div class="large-8 medium-8 small-8 columns">
                                <div class="row">
                                    <div class="large-2 medium-2 small-2 columns">
                                        <span class="display" style="width: 100%; height: 15px;"></span>
                                    </div>
                                    <div class="large-10 medium-10 small-10 columns">
                                        <span class="display" style="width: 100%; height: 15px;"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-2 medium-2 small-2 columns">
                                        <span class="display" style="width: 100%; height: 15px;"></span>
                                    </div>
                                    <div class="large-10 medium-10 small-10 columns">
                                        <span class="display" style="width: 100%; height: 15px;"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-2 medium-2 small-2 columns">
                                        <span class="display" style="width: 100%; height: 15px;"></span>
                                    </div>
                                    <div class="large-10 medium-10 small-10 columns">
                                        <span class="display" style="width: 100%; height: 15px;"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-2 medium-2 small-2 columns">
                                        <span class="display" style="width: 100%; height: 15px;"></span>
                                    </div>
                                    <div class="large-10 medium-10 small-10 columns">
                                        <span class="display" style="width: 100%; height: 15px;"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-2 medium-2 small-2 columns">
                                        <span class="display" style="width: 100%; height: 15px;"></span>
                                    </div>
                                    <div class="large-10 medium-10 small-10 columns">
                                        <span class="display" style="width: 100%; height: 15px;"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-2 medium-2 small-2 columns">
                                        <span class="display" style="width: 100%; height: 15px;"></span>
                                    </div>
                                    <div class="large-10 medium-10 small-10 columns">
                                        <span class="display" style="width: 100%; height: 15px;"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-2 medium-2 small-2 columns">
                                        <span class="display" style="width: 100%; height: 15px;"></span>
                                    </div>
                                    <div class="large-10 medium-10 small-10 columns">
                                        <span class="display" style="width: 100%; height: 15px;"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-2 medium-2 small-2 columns">
                                        <span class="display" style="width: 100%; height: 15px;"></span>
                                    </div>
                                    <div class="large-10 medium-10 small-10 columns">
                                        <span class="display" style="width: 100%; height: 15px;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="large-2 medium-2 small-2 columns">
                                <span class="display" style="width: 100%; height: 40px;"></span>
                                <span class="display" style="width: 100%; height: 60px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 15px;"></span>
                            </div>
                        </div>
                    </div>
                </a>
                <p class="get-code">
                    Feed
                </p>
                <span class="notes"><a target="_blank" href="https://www.notableapp.com/posts/935033a0deaf933a2332dd94ab294ed8bd691bfd#annotate">More Info</a></span>
                <span class="html"><a href="#" data-reveal-id="feedModal">HTML</a></span>
            </div>
        </div>

        <div class="row">

            <div class="large-4 medium-4 small-12 columns template-wrap">
                <a href="Home/grid">
                    <div class="template">
                        <div class="row">
                            <div class="display" style="width: 100%; height: 12px;"></div>
                        </div>
                        <div class="row">
                            <div class="large-3 medium-3 small-3 columns">
                                <span class="display" style="width: 100%; height: 30px;"></span>
                            </div>
                            <div class="large-6 medium-6 small-6 columns">
                                <span class="display" style="width: 100%; height: 30px;"></span>
                            </div>
                            <div class="large-3 medium-3 small-3 columns">
                                <span class="display" style="width: 100%; height: 30px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 medium-6 small-6 columns">
                                <span class="display" style="width: 100%; height: 30px;"></span>
                            </div>
                            <div class="large-2 medium-2 small-2 columns">
                                <span class="display" style="width: 100%; height: 30px;"></span>
                            </div>
                            <div class="large-4 medium-4 small-4 columns">
                                <span class="display" style="width: 100%; height: 30px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 medium-4 small-4 columns">
                                <span class="display" style="width: 100%; height: 50px;"></span>
                            </div>
                            <div class="large-4 medium-4 small-4 columns">
                                <span class="display" style="width: 100%; height: 50px;"></span>
                            </div>
                            <div class="large-4 medium-4 small-4 columns">
                                <span class="display" style="width: 100%; height: 50px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 medium-6 small-6 columns">
                                <span class="display" style="width: 100%; height: 30px;"></span>
                            </div>
                            <div class="large-3 medium-3 small-3 columns">
                                <span class="display" style="width: 100%; height: 30px;"></span>
                            </div>
                            <div class="large-3 medium-3 small-3 columns">
                                <span class="display" style="width: 100%; height: 30px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 10px;"></span>
                            </div>
                        </div>
                    </div>
                </a>
                <p class="get-code">
                    Grid
                </p>
                <span class="notes"><a target="_blank" href="https://www.notableapp.com/posts/187001b0d20e3a3219ad43e4ddd651df4b14ae6a#annotate">More Info</a></span>
                <span class="html"><a href="#" data-reveal-id="gridModal">HTML</a></span>
            </div>

            <div class="large-4 medium-4 small-12 columns template-wrap">
                <a href="Home/orbit">
                    <div class="template">
                        <div class="row">
                            <div class="large-3 medium-3 small-3 columns end">
                                <span class="display" style="width: 100%; height: 14px;"></span>
                            </div>
                            <div class="large-5 medium-5 small-5 columns end">
                                <span class="display" style="width: 100%; height: 14px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 75px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 medium-4 small-4 columns">
                                <span class="display" style="width: 100%; height: 70px;"></span>
                            </div>
                            <div class="large-4 medium-4 small-4 columns">
                                <span class="display" style="width: 100%; height: 70px;"></span>
                            </div>
                            <div class="large-4 medium-4 small-4 columns">
                                <span class="display" style="width: 100%; height: 70px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 column">
                                <span class="display" style="width: 100%; height: 14px;"></span>
                            </div>
                        </div>
                    </div>
                </a>
                <p class="get-code">
                    Orbit Home
                </p>
                <span class="notes"><a target="_blank" href="https://www.notableapp.com/posts/a4d0d0833043bcddf1cb4a810112bb85e379bd44#annotate">More Info</a></span>
                <span class="html"><a href="#" data-reveal-id="orbitHomeModal">HTML</a></span>
            </div>

            <div class="large-4 medium-4 small-12 columns template-wrap">
                <a href="Home/banner">
                    <div class="template">
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 12px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 80px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-8 medium-8 small-8 columns">
                                <span class="display" style="width: 100%; height: 50px;"></span>
                            </div>
                            <div class="large-4 medium-4 small-4 columns">
                                <div class="row">
                                    <div class="large-4 medium-4 small-4 columns">
                                        <span class="display" style="width: 100%; height: 22px;"></span>
                                    </div>
                                    <div class="large-4 medium-4 small-4 columns">
                                        <span class="display" style="width: 100%; height: 22px;"></span>
                                    </div>
                                    <div class="large-4 medium-4 small-4 columns">
                                        <span class="display" style="width: 100%; height: 22px;"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-4 medium-4 small-4 columns">
                                        <span class="display" style="width: 100%; height: 23px;"></span>
                                    </div>
                                    <div class="large-4 medium-4 small-4 columns">
                                        <span class="display" style="width: 100%; height: 23px;"></span>
                                    </div>
                                    <div class="large-4 medium-4 small-4 columns">
                                        <span class="display" style="width: 100%; height: 23px;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 23px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 4px;"></span>
                            </div>
                        </div>
                    </div>
                </a>
                <p class="get-code">
                    Banner Home
                </p>
                <span class="notes"><a target="_blank" href="https://www.notableapp.com/posts/c14f15af6748c351254814e5356108e6e7ceb4eb#annotate">More Info</a></span>
                <span class="html"><a href="#" data-reveal-id="bannerHomeModal">HTML</a></span>
            </div>
        </div>

        <div class="row">

            <div class="large-4 medium-4 small-12 columns template-wrap">
                <a href="Home/sidebar">
                    <div class="template">
                        <div class="row">
                            <div class="large-3 medium-6 small-3 columns end">
                                <span class="display" style="width: 100%; height: 13px;"></span>
                            </div>
                            <div class="large-6 medium-6 small-6 columns end">
                                <span class="display" style="width: 100%; height: 13px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 medium-4 small-4 columns">
                                <div class="row">
                                    <div class="large-12 medium-12 small-12 column">
                                        <span class="display" style="width: 100%; height: 80px;"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-12 medium-12 small-12 column">
                                        <span class="display" style="width: 100%; height: 40px;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="large-8 medium-8 small-8 columns">
                                <span class="display" style="width: 100%; height: 150px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 15px;"></span>
                            </div>
                        </div>
                    </div>
                </a>
                <p class="get-code">
                    Sidebar
                </p>
                <span class="notes"><a target="_blank" href="https://www.notableapp.com/posts/a9f4dfdb9f0a7cb38a954d22acbb8ce550d89381#annotate">More Info</a></span>
                <span class="html"><a href="#" data-reveal-id="sidebarModal">HTML</a></span>
            </div>

            <div class="large-4 medium-4 small-12 columns template-wrap">
                <a href="Home/contact">
                    <div class="template">
                        <div class="row">
                            <div class="display" style="width: 100%; height: 12px;"></div>
                        </div>
                        <div class="row">
                            <div class="large-8 medium-8 small-8 columns">
                                <div class="row">
                                    <div class="large-12 medium-12 small-12 columns">
                                        <span class="display" style="width: 100%; height: 25px;"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-12 medium-12 small-12 columns">
                                        <span class="display" style="width: 100%; height: 100px;"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-5 medium-5 small-5 columns end">
                                        <span class="display" style="width: 100%; height: 10px;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="large-4 medium-4 small-4 columns">
                                <div class="row">
                                    <div class="large-12 medium-12 small-12 columns">
                                        <span class="display" style="width: 100%; height: 50px;"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-12 medium-12 small-12 columns">
                                        <span class="display" style="width: 100%; height: 20px;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 20px;"></span>
                            </div>
                        </div>
                    </div>
                </a>
                <p class="get-code">
                    Contact
                </p>
                <span class="notes"><a target="_blank" href="https://www.notableapp.com/posts/d703855426b0090fdd31baac7cae895c25586800#annotate">More Info</a></span>
                <span class="html"><a href="#" data-reveal-id="contactModal">HTML</a></span>
            </div>

            <div class="large-4 medium-4 small-12 columns template-wrap">
                <a href="Home/marketing">
                    <div class="template">
                        <div class="row">
                            <div class="display" style="width: 100%; height: 12px;"></div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 60px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 medium-4 small-4 columns">
                                <span class="display" style="width: 100%; height: 90px;"></span>
                            </div>
                            <div class="large-4 medium-4 small-4 columns">
                                <span class="display" style="width: 100%; height: 90px;"></span>
                            </div>
                            <div class="large-4 medium-4 small-4 columns">
                                <span class="display" style="width: 100%; height: 90px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 20px;"></span>
                            </div>
                        </div>
                    </div>
                </a>
                <p class="get-code">
                    Marketing
                </p>
                <span class="notes"><a target="_blank" href="https://www.notableapp.com/posts/6c64072a5fee3b39b1fe7cc06ef0a0d447dd5b4c#annotate">More Info</a></span>
                <span class="html"><a href="#" data-reveal-id="marketingModal">HTML</a></span>
            </div>
        </div>

        <div class="row">

            <div class="large-4 medium-4 small-12 columns template-wrap">
                <a href="Home/realty">
                    <div class="template">
                        <div class="row">
                            <span class="display" style="width: 100%; height: 12px;"></span>
                        </div>
                        <div class="row">
                            <span class="display" style="width: 100%; height: 65px;"></span>
                        </div>
                        <div class="row">
                            <div class="large-3 medium-3 small-3 columns">
                                <span class="display" style="width: 100%; height: 85px;"></span>
                            </div>
                            <div class="large-9 medium-9 small-9 columns">
                                <span class="display" style="width: 100%; height: 60px;"></span>
                                <div class="row">
                                    <div class="large-6 medium-6 small-6 columns">
                                        <span class="display" style="width: 100%; height: 20px;"></span>
                                    </div>
                                    <div class="large-6 medium-6 small-6 columns">
                                        <span class="display" style="width: 100%; height: 20px;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 20px;"></span>
                            </div>
                        </div>
                    </div>
                </a>
                <p class="get-code">
                    Realty
                </p>
                <span class="notes"><a target="_blank" href="https://www.notableapp.com/posts/6e5673e7cf7a7228c91dd0e2668f695f0218cd41#annotate">More Info</a></span>
                <span class="html"><a href="#" data-reveal-id="realtyModal">HTML</a></span>
            </div>

            <div class="large-4 medium-4 small-12 columns template-wrap">
                <a href="Home/boxy">
                    <div class="template">
                        <div class="row">
                            <span class="display" style="width: 100%; height: 15px;"></span>
                        </div>
                        <div class="row">
                            <div class="large-6 medium-6 small-6 columns">
                                <span class="display" style="width: 100%; height: 70px;"></span>
                            </div>
                            <div class="large-6 medium-6 small-6 columns">
                                <div class="row">
                                    <div class="large-12 medium-12 small-12 columns">
                                        <span class="display" style="width: 100%; height: 40px;"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-6 medium-6 small-6 columns">
                                        <span class="display" style="width: 100%; height: 25px;"></span>
                                    </div>
                                    <div class="large-6 medium-6 small-6 columns">
                                        <span class="display" style="width: 100%; height: 25px;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 25px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-3 medium-3 small-3 columns">
                                <span class="display" style="width: 100%; height: 45px;"></span>
                            </div>
                            <div class="large-3 medium-3 small-3 columns">
                                <span class="display" style="width: 100%; height: 45px;"></span>
                            </div>
                            <div class="large-3 medium-3 small-3 columns hide-for-small">
                                <span class="display" style="width: 100%; height: 45px;"></span>
                            </div>
                            <div class="large-3 medium-3 small-3 columns hide-for-small">
                                <span class="display" style="width: 100%; height: 45px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 25px;"></span>
                            </div>
                        </div>
                    </div>
                </a>
                <p class="get-code">
                    So Boxy
                </p>
                <span class="notes"><a target="_blank" href="https://www.notableapp.com/posts/53788be80f4bec2608900db291d35f55022208e2#annotate">More Info</a></span>
                <span class="html"><a href="#" data-reveal-id="boxyModal">HTML</a></span>
            </div>

            <div class="large-4 medium-4 small-12 columns template-wrap">
                <a href="Home/store">
                    <div class="template">
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 13px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 medium-4 small-4 columns">
                                <div class="row">
                                    <div class="large-12 medium-12 small-12 columns">
                                        <span class="display" style="width: 100%; height: 50px;"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-12 medium-12 small-12 columns">
                                        <span class="display" style="width: 100%; height: 20px;"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-12 medium-12 small-12 columns">
                                        <span class="display" style="width: 100%; height: 12px;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="large-8 medium-8 small-8 columns">
                                <ul class="large-block-grid-3 small-block-grid-3">
                                    <li>
                                        <span class="display" style="width: 100%; height: 35px;"></span>
                                    </li>
                                    <li>
                                        <span class="display" style="width: 100%; height: 35px;"></span>
                                    </li>
                                    <li>
                                        <span class="display" style="width: 100%; height: 35px;"></span>
                                    </li>
                                    <li>
                                        <span class="display" style="width: 100%; height: 35px;"></span>
                                    </li>
                                    <li>
                                        <span class="display" style="width: 100%; height: 35px;"></span>
                                    </li>
                                    <li>
                                        <span class="display" style="width: 100%; height: 35px;"></span>
                                    </li>
                                    <li>
                                        <span class="display" style="width: 100%; height: 35px;"></span>
                                    </li>
                                    <li>
                                        <span class="display" style="width: 100%; height: 35px;"></span>
                                    </li>
                                    <li>
                                        <span class="display" style="width: 100%; height: 35px;"></span>
                                    </li>
                                </ul>
                                <div class="row">
                                    <div class="large-12 medium-12 small-12 columns">
                                        <span class="display" style="width: 100%; height: 20px;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <p class="get-code">
                    Store
                </p>
                <span class="notes"><a target="_blank" href="https://www.notableapp.com/posts/4e13e639fbf4ac815dd106de6caa02e949b81bb0#annotate">More Info</a></span>
                <span class="html"><a href="#" data-reveal-id="storeModal">HTML</a></span>
            </div>
        </div>

        <div class="row">

            <div class="large-4 medium-4 small-12 columns template-wrap">
                <a href="Home/workspace">
                    <div class="template">
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 14px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 65px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-3 medium-3 small-3 columns">
                                <span class="display" style="width: 100%; height: 50px;"></span>
                            </div>
                            <div class="large-3 medium-3 small-3 columns">
                                <span class="display" style="width: 100%; height: 50px;"></span>
                            </div>
                            <div class="large-3 medium-3 small-3 columns">
                                <span class="display" style="width: 100%; height: 50px;"></span>
                            </div>
                            <div class="large-3 medium-3 small-3 columns">
                                <span class="display" style="width: 100%; height: 50px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-8 medium-8 small-8 columns">
                                <span class="display" style="width: 100%; height: 30px;"></span>
                            </div>
                            <div class="large-4 medium-4 small-4 columns">
                                <span class="display" style="width: 100%; height: 30px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 20px;"></span>
                            </div>
                        </div>
                    </div>
                </a>
                <p class="get-code">
                    Workspace
                </p>
                <span class="notes"><a target="_blank" href="https://www.notableapp.com/posts/b67072af6a4da56b986d6de99319e5659bd7f68b#annotate">More Info</a></span>
                <span class="html"><a href="#" data-reveal-id="workspaceModal">HTML</a></span>
            </div>

            <div class="large-4 medium-4 small-12 columns template-wrap end">
                <a href="Home/marketing-2">
                    <div class="template">
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 10px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 40px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-3 medium-3 large-3 columns">
                                <span class="display" style="width: 80%; height: 20px;">
                                </span>
                            </div>
                            <div class="small-3 medium-3 large-3 columns">
                                <span class="display" style="width: 80%; height: 20px;">
                                </span>
                            </div>
                            <div class="small-3 medium-3 large-3 columns">
                                <span class="display" style="width: 80%; height: 20px;">
                                </span>
                            </div>
                            <div class="small-3 medium-3 large-3 columns">
                                <span class="display" style="width: 80%; height: 20px;">
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 20px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-6 medium-6 large-6 columns">
                                <div class="row">
                                    <div class="small-6 medium-6 large-6 columns">
                                        <span class="display" style="width: 100%; height: 10px;">
                                        </span>
                                    </div>
                                    <div class="small-6 medium-6 large-6 columns">
                                        <span class="display" style="width: 100%; height: 10px;">
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-6 medium-6 large-6 columns">
                                        <span class="display" style="width: 100%; height: 10px;">
                                        </span>
                                    </div>
                                    <div class="small-6 medium-6 large-6 columns">
                                        <span class="display" style="width: 100%; height: 10px;">
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-6 medium-6 large-6 columns">
                                        <span class="display" style="width: 100%; height: 10px;">
                                        </span>
                                    </div>
                                    <div class="small-6 medium-6 large-6 columns">
                                        <span class="display" style="width: 100%; height: 10px;">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-6 medium-6 large-6 columns">
                                <span class="display" style="width: 100%; height: 40px;">
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-4 medium-4 large-4 columns">
                                <span class="display" style="width: 80%; height: 20px;">
                                </span>
                            </div>
                            <div class="small-4 medium-4 large-4 columns">
                                <span class="display" style="width: 80%; height: 20px;">
                                </span>
                            </div>
                            <div class="small-4 medium-4 large-4 columns">
                                <span class="display" style="width: 80%; height: 20px;">
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 medium-12 small-12 columns">
                                <span class="display" style="width: 100%; height: 10px;"></span>
                            </div>
                        </div>
                    </div>
                </a>
                <p class="get-code">
                    Marketing 2
                </p>
                <span class="notes"><a target="_blank" href="https://www.notableapp.com/posts/35ce62480f5a6cab795cc9b3a40ee8f586a9e2fa">More Info</a></span>
                <span class="html"><a href="#" data-reveal-id="Marketing2Modal">HTML</a></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-8 medium-8 columns">
        <h5>Here&rsquo;s your basic grid:</h5>
        <!-- Grid Example -->
        <div class="row">
            <div class="large-12 columns">
                <div class="callout panel">
                    <p><strong>This is a twelve column section in a row.</strong> Each of these includes a div.panel element so you can see where the columns are - it's not required at all for the grid.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-6 medium-6 columns">
                <div class="callout panel">
                    <p>Six columns</p>
                </div>
            </div>
            <div class="large-6 medium-6 columns">
                <div class="callout panel">
                    <p>Six columns</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-4 medium-4 small-4 columns">
                <div class="callout panel">
                    <p>Four columns</p>
                </div>
            </div>
            <div class="large-4 medium-4 small-4 columns">
                <div class="callout panel">
                    <p>Four columns</p>
                </div>
            </div>
            <div class="large-4 medium-4 small-4 columns">
                <div class="callout panel">
                    <p>Four columns</p>
                </div>
            </div>
        </div>

        <hr />

        <h5>We bet you&rsquo;ll need a form somewhere:</h5>
        <form>
            <div class="row">
                <div class="large-12 columns">
                    <label>Input Label</label>
                    <input type="text" placeholder="large-12.columns" />
                </div>
            </div>
            <div class="row">
                <div class="large-4 medium-4 columns">
                    <label>Input Label</label>
                    <input type="text" placeholder="large-4.columns" />
                </div>
                <div class="large-4 medium-4 columns">
                    <label>Input Label</label>
                    <input type="text" placeholder="large-4.columns" />
                </div>
                <div class="large-4 medium-4 columns">
                    <div class="row collapse">
                        <label>Input Label</label>
                        <div class="small-9 columns">
                            <input type="text" placeholder="small-9.columns" />
                        </div>
                        <div class="small-3 columns">
                            <span class="postfix">.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Select Box</label>
                    <select>
                        <option value="husker">Husker</option>
                        <option value="starbuck">Starbuck</option>
                        <option value="hotdog">Hot Dog</option>
                        <option value="apollo">Apollo</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="large-6 medium-6 columns">
                    <label>Choose Your Favorite</label>
                    <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Radio 1</label>
                    <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Radio 2</label>
                </div>
                <div class="large-6 medium-6 columns">
                    <label>Check these out</label>
                    <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
                    <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Textarea Label</label>
                    <textarea placeholder="small-12.columns"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="large-4 medium-4 columns">
        <h5>Try one of these buttons:</h5>
        <p>
            <a href="#" class="small button">Simple Button</a><br />
            <a href="#" class="small radius button">Radius Button</a><br />
            <a href="#" class="small round button">Round Button</a><br />
            <a href="#" class="medium success button">Success Btn</a><br />
            <a href="#" class="medium alert button">Alert Btn</a><br />
            <a href="#" class="medium secondary button">Secondary Btn</a>
        </p>
        <div class="panel">
            <h5>So many components, girl!</h5>
            <p>A whole kitchen sink of goodies comes with Foundation. Checkout the docs to see them all, along with details on making them your own.</p>
            <a href="http://foundation.zurb.com/docs/" class="small button">Go to Foundation Docs</a>
        </div>
    </div>
</div>